@font-face {
  font-family: "FARRAY";
  src: url("../FARRAY.woff") format('woff');
}
*{
  margin: 0px;
  padding: 0px;
}
.w20{
  width: 20%;
}
.font-custom{
  font-family: "FARRAY";
  color: #0072b9;
  font-size: 30px;
  margin-top: 11px;
  margin-left: 20px;
}
body{
/*  box-shadow: 2px 5px 10px #ffffff;*/
  box-shadow: 0 2px 6px #fcfdfc;
  border-radius: 20px;
    width:350px;
    padding: 10px;
    background-color: #ffffff; /*#F4F4F4;*/ 
  /*background-image: linear-gradient(to right, #134F8E, #EAEAEA);*/
  /*font-family: 'comic-sans';*/
  font-family: "Raleway", "Comic Sans";
    box-sizing: border-box;
}
/* For heading "Taboola Preview"*/
h1{
    color:#0078d6;
    font-size: 24px;
    text-align: center;
  padding: 10px;
}
.flex{
  display: flex;
  height: 87px;
  margin-top: -30px;
}
.font-danger{
  color: red;
  font-size: 10px;
}
#video_height, #video_length, #video_z,#video_size, #n_height, #n_left, #n_size, 
#n_font_size, #n_font_color, #feed_header_padding, #feed_header_color, #feed_header_margin,
#feed_title_color, #feed_title_font, #feed_title_margin, #feed_branding_font,
#feed_branding_margin,#feed_ratio, #feed_border, #w_header_margin, #w_header_padding, #w_header_color, 
#w_header_font, #w_thumb_width, #w_thumb_margin, #w_thumb_padding, #w_title_font,
#w_title_font_color, #w_title_branding_height, #w_title_margin, #w_branding_color,
#w_branding_font, #read_height, #read_width, #read_border, #read_font, #read_font_color, 
#read_background, #explore_padding, #explore_margin, #explore_background, #explore_pop_up_text, 
#explore_pop_up_background, #explore_pop_up_margin
{
  /* background: #0078d6;
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin: 0 4px;
  transition: ease 0.5s;
  text-transform: uppercase; */
  color: black;
  border: 2px solid #0078d6;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0078d6;
  -webkit-transition: ease-out 1.9s;
  -moz-transition: ease-out 1.9s;
  transition: ease-out 1.9s;
  width: 50px;
} 
div{
    padding: 10px;
    color: #626568;
}
#video_height:hover, #video_length:hover, #video_z:hover,#video_size:hover,#n_height:hover, #n_left:hover, #n_size:hover, 
#n_font_size:hover, #n_font_color:hover,#feed_header_padding:hover, #feed_header_color:hover, #feed_header_margin:hover,
#feed_title_color:hover, #feed_title_font:hover, #feed_title_margin:hover, #feed_branding_font:hover,
#feed_branding_margin:hover,#feed_ratio:hover, #feed_border:hover, #w_header_margin:hover, #w_header_padding:hover, #w_header_color:hover, 
#w_header_font:hover, #w_thumb_width:hover, #w_thumb_margin:hover, #w_thumb_padding:hover, #w_title_font:hover,
#w_title_font_color:hover, #w_title_branding_height:hover, #w_title_margin:hover, #w_branding_color:hover,
#w_branding_font:hover, #read_height:hover, #read_width:hover, #read_border:hover, #read_font:hover, #read_font_color:hover, 
#read_background:hover, #explore_padding:hover, #explore_margin:hover, #explore_background:hover, #explore_pop_up_text:hover, 
#explore_pop_up_background:hover, #explore_pop_up_margin:hover
{
  box-shadow: inset 400px 50px 0 0 #0078d6;
}
/*#video, #next-up, #feed, #widget, #read-more, #explore-more
{
 box-shadow: 2px 10px 10px #c2c2c2;
 border: 2px solid #000000;
 border-radius: 15px;
 font-size: 16px;
 background-color: #ffffff;
 
 
}*/
.basic-slide {
  display: inline-block;
  width: 100px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 0px;
  transition: all .3s ease-in-out;
 
  
  + label {
    display: inline-block;
    /*position: absolute;*/
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #7AB893;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
.basic-slide:focus,
.basic-slide:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
 
  + label {
    transform: translateX(-70%);
  }
}
.basic-slide1 {
  display: inline-block;
  width: 100px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 0px; // Arbitrary.
  transition: all .3s ease-in-out;
 
  
  + label {
    display: inline-block;
    /*position: absolute;*/
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #7AB893;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
.basic-slide1:focus,
.basic-slide1:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
 
  + label {
    transform: translateX(-70%);
  }
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  border-radius: 9px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  box-shadow: 0 2px 6px #393C3F;
}
.active, .accordion:hover {
  background-color: #ccc; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.content{
  
  display: flex;
  align-self: auto;
  /*padding: 0 18px;*/
  display: none;
  background-color: white;
  /*overflow: hidden;*/
}
label {
  font-size: 14px;
  width: 100px;
  display: inline-block;
}
.feedbtn{
  background: #0078d6;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin: 0 4px;
  transition: ease 0.5s;
  text-transform: uppercase;
}
.feedbtn:hover{
  transform: scale(1.1, 1.1);
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #0072b9;    }
    49%{    color: #0072b9; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #0072b9;    }
}
.button_slide {
    color: black;
    border: 2px solid #0078d6;
    border-radius: 9px;
    padding: 6px 15px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0078d6;
    -webkit-transition: ease-out 0.9s;
    -moz-transition: ease-out 0.9s;
    transition: ease-out 0.9s;
    width: 49.5%;
}
.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #0078d6;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #0078d6;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 50px #0078d6;
}
.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #0078d6;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}